body
{

background: url(../img/background.jpg);
}

header
{
clear: responsive;
	margin-top: 4%;
	margin-right: 2%;
	margin-left: 2%;
	text-align: center;

}

.pad-basic

{
padding:.6%;

}

.no-btm
{
	margin-bottom:0%;
}

.btn-der
{
	text-align: right;
}


h2{

	color: chocolate !important;
}
footer{
	clear: responsive;
	background:blue-cyan;
	text-align: center;
	color: chocolate;


}
